body, nav, h1, h2, h3 {
	font-family: sans-serif;
	/*font-family: Lora;*/
	/*color: #747704;*/
	font-weight: 300;
}

h4 {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

body {
/*	background-image: url("../media/background-trans.jpg");
	background-repeat: no-repeat;*/
	/*background-attachment: fixed;*/
}

footer {
	font-size: 12px;
	color: #999999;
	display: block;
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 20px;
}

#homepage-container {
	position: relative;
}

#homepage-footer {
	position: absolute;
	bottom: 0;
}

circle:hover {
	fill: #a33000;
	opacity: .3;
}

.axis path, .axis line {
    fill: none; 
    stroke: gray; 
    shape-rendering: crispEdges; 
}

/*delete?*/
.y.axis path, .y.axis text {font-size: 14px;}
.x.axis path, .x.axis text {font-size: 14px;}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 18px;
}

p {
	font-weight: 300;
	font-size: 17px;
	margin-bottom: 20px;
}

#about {
	max-width: 625px;
}

.head {
	margin-top: 40px;
}

img {
	width: 100%;
	height: auto;
}

img.work {
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

video {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border: 1.5px solid #ccc;
}

.title-text {
	margin-top: 140px;
	margin-bottom: 5px;
	font-weight: 300;
}

.logo {
	margin-top: 140px;
}

.subtitle {
	margin-top: 0px;
	margin-bottom: 40px;
	font-weight: 300;
}

.work-top-info {
	margin-bottom: 45px;
}

.work-about {
	font-style: italic;
	margin-bottom: 30px;
}

.work-credit {
	font-style: italic;
}

.work-role {
	margin-bottom: 10px;
}

.work-link {
	margin-bottom: 5px;
	/*font-size: 14px;*/
}

.work-tools {
	/*font-size: 14px;*/
	font-style: italic;
	margin-top: -15px;
}

.work-img-large {
	max-width: 600px;
}

.work-img-med {
	max-width: 420px;
}

.work-img-mobile {
	max-width: 320px;
}

.row {
	margin-top: 10px;
	margin-bottom: 30px;
}

.header-row {
	margin-top: 0px;
	margin-bottom: 23px;
}

.work-title {
	margin-top: 40px;
}

ul {
	font-size: 16px;
	font-weight: 300;
	list-style-type: none;
	padding-left: 0px
}

nav {
	font-size: 14px;
	font-weight: 300;
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: 60px;
}

nav.homeNav {
	margin-bottom: 20px;
}

li.navItem {
	display: inline;
	margin-right: 30px;
}

li.navItemFirst {
	margin-right: 100px;
	}

li.homeNavItem {
	display: block;
	font-size: 18px;
}

@media screen and (max-width: 500px) {
  li.navItem {
    display: block;
  }
  li.navItemFirst {
  	margin-bottom: 10px;
  }
}

a { 
	color: #007d96; 
	/*text-decoration: underline; */
} 

a.work-link { 
	color: #000000; 
} 


nav a { 
	color: #000000; 
} 

a:hover { 
	text-decoration: none; 
	color: #a33000; 
}

li.current {
	text-decoration: underline;
}

.line {
	margin-top: 20px;
	margin-bottom: 30px;
	height: 4px;
	background-color: #bcbbbb;
}

.graytext {
	color: #bcbbbb;
}

.headshot {
	max-width: 200px;
	margin-top: 30px;
	margin-bottom: 100px;
}